{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-5">
    {% if product.image %}
      <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}">
    {% endif %}
  </div>
  <div class="col-md-7">
    <h2>{{ product.name }}</h2>
    <p class="fs-5 text-muted">Цена: {{ product.price }} ₽</p>
    <p>Рейтинг: ⭐ {{ product.rating }}</p>
    <p>{{ product.description }}</p>

    <form method="post" action="{% url 'add_to_cart' product.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Добавить в корзину</button>
    </form>
  </div>
</div>
{% endblock %}
